* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: #DDD0D0;
}

h1 {
  margin: 1rem auto;
  text-align: center;
}

.highlight {
  font-size: 20px;
}

#title {
  font-size: 32px;
  font-weight: bold;
  color: #5B4F47;
}

#description {
  margin: -1rem auto 1.5rem auto;
  font-size: 20px;
  text-align: center;
  color: #5B4F47;
}

form {
  width: 60%;
  width: 100%;
  margin: 0 auto;
  background-color: #A69999;
  padding: 1rem;
}

fieldset {
  border: none;
  display: block;
}

fieldset:first-of-type {
  border-bottom: 2px solid;
}

fieldset {
  margin-top: 1rem;
}

input, select, textarea {
  height: 2rem;
  border-radius: 0.25rem;
  border: 2px solid #A69999;
  color: #A69999;
}

.selection {
  width: unset;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

textarea {
  height: 10rem;
}

input[type="radio"], input[type="checkbox"] {
  width: 20px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;
  height: 2em;
  font-size: 20px;
  background-color: #DDD0D0;
  color: #A69999;
  border: 2px solid white
}

button[type="submit"]:hover {
 background-color: white;

}
@media (max-width:500px) {
 form {
   width: 80%;
   padding: 1rem;
 }
 input, select, textarea {
   width: 100%;
   display: block;
 }
}